<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Jonathan Clivio | University of Copenhagen</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The personal homepage of Jonathan Clivio">
    
    <meta name="keywords" content="algebraic topology, string topology, operads, university of copenhagen, geotop">

    <meta name="msvalidate.01" content="DAF2864C404A4FD4BD7ECCF05EE844AB" />
    
    <link rel="canonical" href="https://jonathanclivio.github.io/"/>  
    

    <link rel="icon" media="(prefers-color-scheme:dark)" href="./assets/img/icon.png" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="./assets/img/icon.png" type="image/png" />
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>

    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    <link rel="stylesheet" href="./assets/css/font_sans_serif.css">
    
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/publications.css">
    

  </head>
  <body>
    <div class="wrapper">
      <header>
        
        
        <a class="image avatar"><img src="./assets/img/avatar.png" alt="avatar" /></a>
        

        <h1>Jonathan Clivio</h1>

        
        <position style="font-size:1.10rem;">Ph.D. Student</position>
        <br>
        
        
         <a href=https://geotop.math.ku.dk/ rel="noopener"><autocolor>University of Copenhagen</autocolor></a>
        <br>
        
        
        <email>jocl (at) math.ku.dk</email>
        

        <br>
        <br>
        <div class="social-icons">
        
        <a style="margin: 0 5px 0 0" href="https://scholar.google.com/citations?user=Oy1UyrcAAAAJ&hl=de&oi=sra">
          <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>  
        
        </div>
        <br>

      </header>
      <section>

      <h2 id="about-me">About Me</h2>

<p>I am a second year PhD student at the University of Copenhagen, advised by <a href="https://web.math.ku.dk/~wahl/">Nathalie Wahl</a>. I am a member of <a href="https://geotop.math.ku.dk/">GeoTop</a>.<br />
My interests lie in operad theory and string topology.</p>

<h2 id="publications" style="margin: 2px 0px -15px;">Preprints</h2>

<div class="publications">
<ol class="bibliography">



<li>
<div class="pub-row">
  <!---
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    
    
  </div>
  -->
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://arxiv.org/abs/2412.13909">Graded Frobenius Algebras</a></div>
      <div class="author">Jonathan Clivio</div>
      <div>Accepted in:<em> The Quarterly Journal of Mathematics</em>
      
  </div>
</div>
</li>

</ol>
</div>
  
<h2 id="services" style="margin: 2px 0px -15px;">Services</h2>
<br />
<p>Conferences I helped co-organize.</p>
<div class="publications">
<ol class="bibliography">



<li>
<div class="pub-row">
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://www.math.ku.dk/english/calendar/events/infinity-operads-and-manifolds/">Infinity Operads and Applications to Geometry</a></div>
      <div><em></em>GeoTop Masterclass</em>,</div>
      <div>11. August - 15. August 2025, Copenhagen.</div>
</div>
</li>


<li>
<div class="pub-row">
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://www.math.ku.dk/english/calendar/events/cobordism-categories_copy/">Cobordism Categories: Building Bridges between Algebra and Geometry</a></div>
      <div><em></em>GeoTop Masterclass</em>,</div>
      <div>17. February - 21. February 2025, Copenhagen.</div>
</div>
</li>

</ol>


</div>



      <br>

      
      <p><small>Last update: August 16, 2025. <br>Powered by Jekyll and <a href="https://github.com/yaoyao-liu/minimal-light" target="_blank" rel="noopener">Minimal Light</a> theme. Icon from <a href="https://www.flaticon.com/free-icons/shapes-and-symbols" title="shapes and symbols icons">Flaticon</a>. </small></p>
      

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    
  </body>
</html>
